html {
  scroll-behavior: smooth;
}
.vid1{
    width: 100%
}
.vid{
    width: 80%
}
.break{
    padding:30px;
    background-color: floralwhite;
}
//navigation bar
nav {
//  margin: auto;
  padding:50px 10px;
  overflow: hidden;
  background-color: floralwhite;
    display: block;
  transition: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
//#nav ul{
//    list-style-type: none;
//}
////nav horizontal view
//#nav li {
//  float: left;
//}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
#nav a {
float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 10px;
  margin: auto;
  text-decoration: none;
    
}

#nav  a:hover {
  background-color: wheat;
}

#nav .active {
  background-color: lightsteelblue;
}

//.sticky {
//  position: fixed;
//  top: 0px;
//  width: 100%;
//    z-index: 9999;
//}

//section 1
#Section1 {
//    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    
}
#header {
//    display: inline-block;
//    width:auto;
    position: absolute;
//    top: 0;
    width: 100%;
    background-color: floralwhite;
    opacity: 0.5;
    text-align: center;
    font-size:30px;
    z-index: 100;
  
}

//section2
#Section2{
    background-color: floralwhite;
    overflow: hidden;
    margin: auto;
}


#col {
    column-count: 3;
    font-size:15px;
    text-align: center;
}


.fas {
    font-size:35px;
    margin: auto;
    
}

//section3 Carousel
#Section3{
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


#Section4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image:url("assets/bg.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 1000px;
    background-size: cover;
   
}

.modal_content1 {
  display: none; 
  justify-content: center;
  align-items: center;
    position: absolute;
   
    z-index: 50;
    
}
.modal_content2 {
    display: none; 
    position: absolute;
    justify-content: center;
    align-items: center;
    
    z-index: 50;
    
}

.modal1 {
//    width:100px;
//    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    z-index: 30;
    opacity: 0.8;
    font-size: 20px; 
}
.modal2 {
//    width:100px;
//    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    z-index: 30;
    opacity: 0.8;
    font-size: 20px; 
}
#Section5 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: floralwhite;
}
.fab {
    z-index: 3;
    font-size: 30px;
    color:gray;
    opacity: 0.5;
}
.dot {

    z-index: 50;
  width: 180px;
  height: 180px;
    font-style: italic;
    
  color: black;
    background-color: gray;
  border-radius: 100%;
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
//    opacity: 0.8;
  
}
.fa-twitter-square {
    position: absolute;
    &.position-initial{
    left: 50%;
    transition: left 5s;
  }

  &.position-left {
    left: 10%;
    transition: left 5s;
  }
    
}
.fa-linkedin{
    position: absolute;
    &.position-initial{
    left: 45%;
    transition: left 5s;
  }

  &.position-left {
    left: 25%;
    transition: left 5s;
  }
    
}
.fa-facebook-square{
    position: absolute;
    &.position-initial{
    left: 50%;
    transition: left 5s;
  }

  &.position-right {
    left: 70%;
    transition: left 5s;
  }
    
}
.fa-instagram-square{
    position: absolute;
    &.position-initial{
    left: 50%;
    transition: left 5s;
  }

  &.position-right {
    left:85%;
    transition: left 5s;
  }
    
}
.ft {
    font-size: 15px;
}